<div class="">
    <div class="actor-details">
      <div class="poster-wrapper">
        <div class="poster">
          <img src="https://image.tmdb.org/t/p/original/{{ actorDetails.profile_path }}" alt="poster" />
        </div>
      </div>
      <!-- end poster-wrapper -->
      <div class="actor-info">
        <div class="header-section">
          <h2 style="color: whitesmoke !important;">{{ actorDetails.name }}</h2>
          <p style="color: goldenrod !important;">Gender: {{ actorDetails.gender }}</p>
          <p style="color: goldenrod !important;">Popularity: {{ actorDetails.popularity }}</p>
          <!-- Add more actor details as needed -->
        </div>
        <div class="movies-section">
          <h3 style="color: goldenrod !important;">Movies</h3>
          <div class="movies">
            <ng-container *ngFor="let movie of actorMovies">
              <div class="movie-container">
                <img [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path" alt="poster" />
                <div class="movie-title">{{ movie.title }}</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  
