.carousel-inner
{
    height: 700px;
}

.carousel-inner .carousel-item img
{
    height: 700px;
    object-fit: cover;
}

.carousel-caption h2
{
    color: #E50914;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p 
{
    color: #ffffff;
}

.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowimg
{
    max-height: 100px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
}

.rowimg:hover
{
    transform: scale(1.09);
    cursor: pointer;
}

.largeposter{
    max-height: 300px;
}

.rowposter::-webkit-scrollbar
{
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ddd;
  background:red;
   background-position: center; 
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

.container {
    width: 300px;
    height: 550px;
    background: linear-gradient(45deg, #111, #252525, #111, #252525);
    border-radius: 15px;
    padding: 10px 20px 30px;
    position: relative;
    box-shadow: 0 0 2px #e97101;
    display: none;
}

h3 {
    margin: 10px 0 15px;
    font-size: 1em;
}

.img1 {
    width: 280px;
    height: 350px;
    margin: 0 auto 20px;
    background-color: tomato;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 10px 3px #e97101;
    background-size: contain;
}


.img button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(0, 84, 202);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.img button:hover {
    background-color: rgb(7, 110, 255);
    cursor: pointer;
}

.container>h2, .container>p {
    text-align: center;
    margin: 0;
}

h2, h3 {
    text-transform: uppercase;
}

.rating {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin: 10px 0 15px;
    position: relative;
}

.rating svg {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.last {
    display: inline-block;
    position: relative;
}

.last:hover .infos {
    display: block;
}

.last svg path {
    fill: #aaa;
}

p {
    font-size: 0.8em;
}
 
.next {
    width: 20px;
    height: 20px;
    background-color: #aaa;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.next:hover {
    background-color: #888;
    cursor: pointer;
}

.next svg {
    width: 10px;
    height: 10px;
    margin: auto;
    transform: rotate(180deg);
}

.infos {
    background-color: #101020;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    top: 20px;
    text-align: left;
    cursor: pointer;
    left: -10px;
    width: 300px;
    box-shadow: 0 0 2px 1px #aaa;
    display: none;
}

.infos p {
    display: inline-block;
    margin: 2px;
    font-size: 1em;
}

.infos span {
    font-size: .8em;
    color: #8080d8;
}

.infos::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #101020;
    position: absolute;
    top: -8px;
    left: 8px;
    transform: rotate(45deg);
}

.sign {
    fill: rgb(251, 115, 36) !important;
}

.watch-trailer-btn{
    transition: all 0.3s ease;
}
.watch-trailer-btn:hover{
    font-weight: bold !important;
    color: black !important;
    background-color: white !important;
    box-shadow: 0 0 10px 1px #FFF;
}