<!--  <div class="contain mt-5">
        <div class="row p-5">
            <div class="col-lg-2" *ngIf="getMovieDetailResult.poster_path">
                    <img 
                    src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.poster_path }}" 
                    >
            </div>
            <div class="col-lg-10 mt-5 p-4">
                    <h1 class="mt-2 mb-2">{{getMovieDetailResult.original_title}}</h1>
                    <p class="mt-3 mb-3">{{getMovieDetailResult.overview}}</p>
                    <a class="btn btn-md" href="https://www.themoviedb.org/video/play?key={{getMovieVideoResult}}" 
                    target="_blank"
                    >watch trailer</a>

                    <div class="mt-4 p-4">
                        <h2 class="text-white">Top Cast</h2>
                        <div class="row">
                        <div class="col-lg-4" *ngFor="let c of getMovieCastResult">
                            <div class="row mt-2 mb-2">
                                <div class="col-lg-2" *ngIf="c.profile_path">
                                    <img 
                                    src="https://image.tmdb.org/t/p/original/{{ c.profile_path}}" 
                                    >
                                </div>
                                <div class="col-lg-10">
                                    <h3 class="text-white">{{c.original_name}}</h3>
                                    <p class="text-white">{{c.character}}</p>
                                </div>
                            </div>

                            </div>

                        </div>
                    </div>
            </div>
        </div>
</div>

-->
<div class="movie-card p-2">
    <div class="poster-wrapper">
      <div class="poster">
        <img src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.poster_path }}" alt="poster" />
        <div class="release-date">
          <h2>{{ getMovieDetailResult.release_date | date:'dd' }}</h2>
          <div class="divider"></div>
          <p>{{ getMovieDetailResult.release_date | date:'MMM yyyy' | uppercase }}</p>
        </div>
        <div class="btn-play">&#9655;</div>
      </div>
    </div>
    <!-- end poster-wrapper -->
    <div class="movie-info">
      <div class="header-section" >
        <h2>{{getMovieDetailResult.title}}</h2>
        <p>{{getMovieDetailResult.production_countries[0].name}}  / {{getMovieDetailResult.original_language}} / {{getMovieDetailResult}} / {{ getMovieDetailResult.runtime / 60 | number:'1.0-0' }}h {{ getMovieDetailResult.runtime % 60 }}min</p>
        <div class="extra" >
          <div class="ratings"><p>	&#9733; &#9733; &#9733; &#9733;	&#9734; 8.0</p></div>
          <p class="channels"><span class="genre-button"  *ngFor="let g of getMovieDetailResult.genres">{{ g.name }}</span>
        </div>
      </div>
      <div class="cast-section">
        <h3>THE CAST</h3>
        <div class="casts">
          <img src="https://m.media-amazon.com/images/M/MV5BNDg4OTczODE5Nl5BMl5BanBnXkFtZTcwMjgwMjA0Mg@@._V1_UY44_CR3,0,32,44_AL_.jpg" alt="avatar" />
          <img src="https://m.media-amazon.com/images/M/MV5BOTkyNDE4NTA4NF5BMl5BanBnXkFtZTgwOTY3ODQ1MDI@._V1_UY44_CR3,0,32,44_AL_.jpg" alt="avatar" />
          <img src="https://m.media-amazon.com/images/M/MV5BNzYwMTQ1ODY1MV5BMl5BanBnXkFtZTgwMTU5NDc5OTE@._V1_UY44_CR17,0,32,44_AL_.jpg" alt="avatar" />
          <img src="https://m.media-amazon.com/images/M/MV5BMTEyMDA1MzE0NjdeQTJeQWpwZ15BbWU3MDM0NzA4MDQ@._V1_UY44_CR1,0,32,44_AL_.jpg" alt="avatar" />
        </div>
      </div>
      <div class="synopsis-section" >
        <h3>SYNOPSIS</h3>
        <p>
            {{getMovieDetailResult.overview}}
        </p>
      </div>
      <div class="gallery-section">
        <h3>VIDEO / PICTURE</h3>
        <div class="gallery">
          <div class="small"><img src="https://m.media-amazon.com/images/M/MV5BYzkyNGViZDItYzFkMy00OGM0LTg3NzktZGVkZjM2Mzk1OGEzXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_.jpg" alt="media" /></div>
          <div class="medium"><img src="https://m.media-amazon.com/images/M/MV5BNTkxOGIwYzUtNzc0ZS00MTBkLWFkODItYzEzNGRkN2E3MTAxXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_.jpg" alt="media" /></div>
          <div class="small"><img src="https://m.media-amazon.com/images/M/MV5BMzg2OTY3MjE3OF5BMl5BanBnXkFtZTgwNTkxMDU0MDI@._V1_SX1777_CR0,0,1777,745_AL_.jpg" alt="media" /></div>
        </div>
      </div>
    </div>
  </div>

  <div>
     <h1 style="width: 50px;" class ="m-auto mt-5 fs-2 fw-bold">Movie Trailer</h1>
    
  </div>