<div class="movie-details-container" *ngIf="movieDetails">
  <div class="movie-card p-2">
    <div class="poster-wrapper">
      <div class="poster">
        <img src="https://image.tmdb.org/t/p/original/{{ movieDetails.posterPath }}" alt="poster" />
        <div class="release-date">
          <h2>{{ movieDetails.releaseDate | date:'dd' }}</h2>
          <div class="divider"></div>
          <p>{{ movieDetails.releaseDate | date:'MMM yyyy' | uppercase }}</p>
        </div>
        <div class="btn-play" (click)="navigateToStreamingPage(movieDetails.idTmdb)">&#9655;</div> <!-- Pass the movie ID as a parameter to the method -->
      </div>
    </div>
    <!-- end poster-wrapper -->
    <div class="movie-info">
      <div class="header-section">
        <div class="d-flex align-items-center justify-content-between">
          <h2 style="color: whitesmoke !important; margin-right: 10px;">{{ movieDetails.title }}</h2>
          <button class="btn btn-outline-light p-1 rounded-pill " (click)="addToWatchlist()">
            <i class="bi bi-plus-circle-fill" style="color: darkred;"></i> 
            Watchlist
          </button>
        </div>
        <p style="color: goldenrod !important;">
          {{ movieDetails.countries[0].name }} / {{ movieDetails.originalLanguage }} / {{ movieDetails.status }} / {{ movieDetails.duration }} min
        </p>
        <div class="extra">
          <div class="ratings">
            <p>
              <!-- Display filled stars based on the rating -->
              <ng-container *ngFor="let star of generateStarsArray(movieDetails.voteAverage)">
                <span *ngIf="star === 1">&#9733;</span> <!-- Filled star symbol -->
                <span *ngIf="star === 0">&#9734;</span> <!-- Empty star symbol -->
              </ng-container>
              <!-- Display the average rating -->
              {{ movieDetails.voteAverage }}
            </p>
            <!-- Display the number of reviews -->
            <p class="reviews">{{ movieDetails.voteCount }} reviews</p>
          </div>
          <p class="channels">
            <span class="genre-button" *ngFor="let g of movieDetails.genres">{{ g.name }}</span>
          </p>
        </div>
      </div>
      <div class="cast-section">
        <h3 style="color: goldenrod !important;">THE CAST</h3>
        <div class="casts">
          <ng-container *ngFor="let actor of movieDetails.credits.slice(0, 4)">
            <div class="actor-container" [routerLink]="['/actor', actor.credit.idTmdb , actor._creditIdTmdb]">
              <img [src]="actor.credit.profilePath ? 'https://image.tmdb.org/t/p/w200' + actor.credit.profilePath : 'https://via.placeholder.com/50'" alt="avatar" />
              <div class="actor-name">{{ actor.credit.name }}</div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="synopsis-section">
        <h3 style="color: goldenrod !important;">SYNOPSIS</h3>
        <p style="color: whitesmoke !important;">{{ movieDetails.overview }}</p>
      </div>
      <div class="production-section">
        <h3 style="color: goldenrod !important;">PRODUCTION</h3>
        <div class="productions">
          <ng-container *ngFor="let production of movieDetails.productions">
            <div class="actor-container">
              <img [src]="production.logoPath ? 'https://image.tmdb.org/t/p/w200' + production.logoPath : 'https://via.placeholder.com/50'" alt="production-logo" />
              <div class="production-name text-white">{{ production.name }}</div>
            </div>
          </ng-container>
        </div>
      </div>
      
    </div>
  </div>

  <div class="trailer">
    <h2 class="text-center py-3 fw-bold" style="color: goldenrod !important;">Watch the Trailer</h2>
    <div class="py-2">
      <iframe class="trailer-iframe" width="900" height="600" [src]="getSafeUrl(getTrailerUrl(getMovieVideoResult))" title="YouTube video player" frameborder="0" rel="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>

  <div class="relatedMovies px-5 my-4">
    <h5 class="fw-bold fs-3" style="color: goldenrod !important;">Related Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let t of movieDetails.relatedMovies">
        <img src="https://image.tmdb.org/t/p/original/{{ t.posterPath }} " class="rowimg largeposter" alt="..."  (click)="reloadCurrentRoute('/movie/' + t.shortLink)">
      </ng-container>
    </div>
  </div>

</div>

    

