@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');
*{
    font-family: 'Raleway', sans-serif ;}
.navbar .navbar-brand
{
    color: #E50914;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link
{
    color: #E50914;
}