@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');
*{
    font-family: 'Raleway', sans-serif ;}
.navbar .navbar-brand
{
    color: #E50914;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link
{
    color: #E50914;
}


.is__invalid-input {
    border-color: #e11d48;
  }
  
  .is__invalid-error {
    color: #e11d48;
    @apply px-1 pt-1 text-xs;
  }