button
{
    background-color: #E50914;
    color: #ffffff;
}

button:hover
{
    background-color: #E50914;
    color: #ffffff;
}

img{
    width: 100%;
    cursor: pointer;
}

h5
{
    color: #ffffff;
}

.movieSearch:hover {
    background-color: #2c2b2b;
    cursor: pointer;
  }

  .searchBar{
    left: 40%;
  }
  
  .searchElement {
    width: 400px;
  }