<div>
    <div class="input-group">
      <form class="position-relative d-flex" style="width: max-content;" >
        <i class="bi bi-search position-absolute end-0 top-50 me-2" style="transform: translate(0,-50%);"></i>
        <input type="text" class="form-control rounded-pill bg-secondary border-0 hover search-input" style="width: 34px; "   [formControl]="searchTermControl" placeholder="Search movies...">
      </form>
    </div>
  </div>

<div *ngIf="searchResults.length > 0" class="searchBar position-absolute bg-black">
  <div class="">
    <div class="">
      <div *ngFor="let movie of searchResults" class="mb-2 searchElement" (click)="onMovieClick(movie.shortLink)">
        <div class="d-flex movieSearch p-1">
          <img class="rounded ms-1 mt-1" src="https://image.tmdb.org/t/p/w500/{{ movie.posterPath }}" height="70" width="55" alt="{{ movie.title }}">
          <div>
            <p class="text-white ms-3">{{ movie.originalTitle }}</p>
            <p class="ms-3 text-danger">({{ movie.releaseDate }})</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
